<html>

  <body>













	<div class="container justify-content-center">

		<div class="row text-center ">
			<div class="col-lg-12">
				<br>
				<br>
				<br>
				<br>
				<h1 class="text-center">BIENVENUE <br> SUR EVENTBRITE-LIKE</h1>
				<br/>
				<p> Venez participer à de nombreux événements en tous genres près de chez vous ! </p>
				<br/>
				<br/>
				<%=link_to 'CREATE EVENT', new_event_path, class:"btn btn-outline-info btn-lg" %>

				<br/>	
				<br/>
				<br/>
				<br/> 
				<br/>	
				<br/>
				<br/>
				<br/>
			</div>	
		</div>
		

		
		<div class="row justify-content-center">
			<% Event.all.each do |event| %>
				<div class="col-lg-4">
		<!-- Ici, on lui demande d'afficher pour chaque gossip, l'auteur + le contenu -->
				
					<div class="card text-center" style="width: 18rem;">
						<div class="card-body">
					  		 <h5 class="card-title"><%=event.title%> </h5>
					  		 <p class="card-text"><%=event.description %></p>
					  		 <p class="card-text"><%= link_to "#{event.administrator.first_name}", profile_path(event.administrator.id) %></p>
					  		 <%=link_to 'SHOW EVENT', event_path(event.id), class:"btn btn-outline-info" %>
						</div>

			    	</div>
			    	<br>
			    	<br>
			    	<br>
			    	<br>
			    

				</div>
			<% end %>
		</div>

	</div>







  





  </body>

</html>