<ul>
  <% if user_signed_in? %>
  

<div class="container text-center">
	 </br> </br> </br> </br>
      <h1>EVENT</h1>
      </br>
      </br>

    <div class="card">
      <div class="card-body">
          <h3 class="card-title"><%= @event.title %></h3>
          <p class="card-text">
            Description : <%= @event.description %>
            </br>Date : <%= @event.start_date %>
            </br>Price : <%= @event.price %> €
        	</br>Location : <%= @event.location %> 
        	</br>Created by : <%= link_to "#{@event.administrator.first_name} #{@event.administrator.last_name}", profile_path(@event.administrator.id) %> 
          </p>
          
                  
        </div>  
      </div>


<% else %>

    </br></br></br></br></br></br></br>
    <h1 class="h1 mb-3 font-weight-normal text-center">WELCOME TO OUR WEBSITE !</h1>
    </br></br>
    <h4 class="h3 mb-3 font-weight-normal text-center">PLEASE REGISTER, OR LOG IN IF YOU ALREADY HAVE AN ACCOUNT !</h4>

    
  <% end %>
